footer {
    position: relative;
}

@media all and (min-width: 768px) {

    div {
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
    }

    #projects img {
        width: 60%;
        height: 80%;
        padding-top: 50px;
    }
}

@media all and (min-width: 1066px) {
    
    #projects img {
        padding-top: 50px;
        width: 50%;
        height: 100%;
    }

    .project-images img {
        text-align: center;
    }

    .project-desc p {
        font-size: 22px;
    }
}

