@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

header {
    background: #000;
}

header h1 {
    /* padding-left: 0px; */
    font-family: "Press Start 2P", cursive;
    animation: logo-change 6s infinite;
}

#logo {
    font-size: 12px;
}


@keyframes logo-change {
    0% { color: white; }
    50% { color: steelblue; }
}


/* Style the hamburger menu */

/* This doesn't seem to do anything */
a .icon {
    position: relative;
}

/* Add a steelblue background color on mouse-over */
#myLinks a:hover {
    background-color: steelblue;
    color: white;
}

#myLinks a {
    padding: 0;
    display: inline-block;
    text-align: center;
}

/* Style the active link (or home/logo) */
.active {
    background-color: black;
    color: white;
}

#hamburger-menu {
    position: absolute;
    right: 5%;
    top: 27%;
    width: 10%;
}

/* Style the navigation menu */
.topnav {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* MAIN CSS */
/*          */
main {
    /* Change background color later; easier to see this way */
    background-color: #cccccc;
}

h2, h3, h4, h5, h6 p, li, a {
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    font-size: 18px;
}

.container-1 {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    font-size: 32px;
    padding-top: 20px;
    color: steelblue;
}

h6 {
    text-align: center;
}


/* * * * * * * * * * */
/* PROJECTS SECTION */
/* * * * * * * * * */

/* Style the collapsible button/section */

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
}

.content {
    padding: 10px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.container-1 a:hover {
    background: steelblue;
}

.container-1 img {
    width: 90%;
    height: 75%;
}

.content p {
    text-align: left;
}

div h3 {
    font-size: 25px;
    padding: 10px 0 10px 0;
    text-align: center;
}

.socials ul {
    display: flex;
    text-align: center;
    padding-bottom: 10px;
}

.socials h4 {
    text-align: center;
}

.socials ul li {
    list-style: none;
}

footer {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    justify-content: center;
    background-color: #000;
    color: #fff;
    height: 50px;
}

footer p {
    font-size: 14px;
}

form {
    width: 75%;
}

button {
    width: 50%;
}



/* MEDIA QUERY: RESPONSIVE DESIGN   */
/*                                  */
@media all and (min-width: 768px) {
    
    #logo {
        text-align: center;
        font-size: 25px;
    }

    div #hamburger-menu {
        display: none;
        /* width: 10%;
        text-align: center; */
    }

    .topnav #myLinks {
        display: flex;
        padding: 0;
        text-align: center;
    }

    h5 {
        text-align: center;
    }

    form {
        width: 50%;
    }

    form #name, #email {
        width: 50%;
    }

    .container-1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
    }
    
    .container-1 > div {
        flex-basis: 50%;
    }

    .container-1 img {
        width: 80%;
        height: 75%;
    }
}